# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://username:password@localhost:3306/database_name"

PORT=4000
JWT_SECRET=your_secret

FRONTEND_URL=production_url
FRONTEND_URL1=local_url


DbName --> code_ovderflow
username --> code_ovderflow
password --> Ks0|Kdh0